<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476169304708-vd6gq027stl11m79bri46ut9aa83bsr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476169304708-vd6gq027stl11m79bri46ut9aa83bsr7</string>
	<key>API_KEY</key>
	<string>AIzaSyD3mKSGXWPVqPfGnQTuM0Jr4vh5UY89ST0</string>
	<key>GCM_SENDER_ID</key>
	<string>476169304708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cognitiveTraining</string>
	<key>PROJECT_ID</key>
	<string>cognitive-training-6c8ff</string>
	<key>STORAGE_BUCKET</key>
	<string>cognitive-training-6c8ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476169304708:ios:61ccd8f696abd8fe5be0d1</string>
</dict>
</plist>